*
{
  font-family: 'Volkhov', serif;
}
.navbar-brand
{
	color:#4ba3bd !important;
	font-size:23px !important;

}
.navbar
{
  border-radius: 0px !important;
  margin-bottom:0px !important; 
}
.navbar-nav {

    float: right !important;
}
li>a
{

  padding: 10px;
	color:#4ba3bd !important;
	font-size:18px;
}
li>a:hover
{
	color:white !important;
  transform: scale(1.3);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  float:left;
  border-color: #101010;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.footer
{
        font-family: 'Open Sans', sans-serif;
            background-color:black;
            color:white;
            font-size: 25px;
            padding:20px;
}
.linkin
{
  text-decoration: none;
}
.linkin:hover
{
  text-decoration: none;
}
.tweet img
{
    width: 100%;
    height:auto;
    padding:10px;
}
.four
{
        width:100% !important;
        height:auto;
        padding:10px;
}
.tweet
{
    margin-bottom: 30px;
    margin-left:50px !important;
    margin-right:25px;
        background:#000000f5;
    border-radius:10px;
    height: auto;
}
.head
{
  color:#4ba3bd !important;
  /*padding: 15px;*/
  font-size: 18px;
}
.data-time
{
  color:red;
  text-align: center;
  padding: 6px;  
  font-size: 16px;
}
body
{
 background-color: grey;
}
.data1
{
  color:white;
  padding: 6px;  
  font-size: 18px;
  width: 100%;
}
.img1
{
  border-radius: 50%;
  height:68px !important;
  width: 80px !important;
}
.abc
{
  height:auto !important;
  width:100% !important;
}